<div class="footer mt-5">
    <footer class="container  px-0 fs-4">
        <div
            class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 justify-content-between py-5 mb-5 border-1 border-bottom border-secondary text-center text-md-start">
            <!-- --------------------------- -->
            <div class="col mb-5">
                <div class="logo fontIntegral fs-1 fw-medium mb-4">Shop.Co</div>
                <p class="text-muted mb-4 ">We have clothes that suits your style and which you’re proud to wear.
                    From
                    women
                    to men.</p>
                <div class="socialLinks d-flex gap-3 justify-content-center justify-content-md-start">
                    <i class="fa-brands fa-facebook-f center"></i>
                    <i class="fa-brands fa-twitter center"></i>
                    <i class="fa-brands fa-instagram center"></i>
                    <i class="fa-brands fa-linkedin-in center"></i>
                </div>
            </div>
            <!-- --------------------------- -->
            <div class="col mb-5">
                <h5 class="mb-4 text-uppercase fs-2 fw-normal">Company</h5>
                <div class="d-flex flex-column gap-3">
                    <div class="text-muted">About</div>
                    <div class="text-muted">Featers</div>
                    <div class="text-muted">Works</div>
                    <div class="text-muted">Careers</div>
                </div>
            </div>
            <!-- --------------------------- -->
            <div class="col mb-5">
                <h5 class="mb-4 text-uppercase fs-2 fw-normal">Help</h5>
                <div class="d-flex flex-column gap-3">
                    <div class="text-muted">Customer Support</div>
                    <div class="text-muted">Delivery Details</div>
                    <div class="text-muted">Terms & Conditions</div>
                    <div class="text-muted">Privacy Policy</div>
                </div>
            </div>
            <!-- --------------------------- -->
            <div class="col mb-5">
                <h5 class="mb-4 text-uppercase fs-2 fw-normal">FAQ</h5>
                <div class="d-flex flex-column gap-3">
                    <div class="text-muted">Account</div>
                    <div class="text-muted">Manage Deliveries</div>
                    <div class="text-muted">Orders</div>
                    <div class="text-muted">Payments</div>
                </div>
            </div>
            <!-- --------------------------- -->
            <div class="col mb-5">
                <h5 class="mb-4 text-uppercase fs-2 fw-normal">Resources</h5>
                <div class="d-flex flex-column gap-3">
                    <div class="text-muted">Free eBooks</div>
                    <div class="text-muted">Development Tutorial</div>
                    <div class="text-muted">How to - Blog</div>
                    <div class="text-muted">Youtube Playlist</div>
                </div>
            </div>
            <!-- --------------------------- -->
        </div>
        <div>
            <p class="text-center text-muted mb-0 pb-3">© 2024 Shop.Co. All rights reserved.</p>
        </div>
    </footer>
    <div class="Stay bg-black center fw-bolder" style="height: 50px;">
        <h1 class="fontIntegral" style="font-size: 3rem;">STAY UPTO DATE ABOUT OUR LATEST OFFERS</h1>
    </div>
</div>