<div class="container detailsPage">


    <div class="row row-cols-1 row-cols-lg-2 g-4 my-5">
        <!-- ==============Produc-images================= -->
        <div class="col">
            <div class="row prodImages">
                <div class="col-3 d-flex flex-column gap-4">
                    @for(img of product?.images; track prdID) {
                    <img [src]="img" alt="Product Thumbnail" class="img-fluid thumbnail" (click)="selectImage(img)"
                        [class.selected]="img === selectedImage" />
                    }

                </div>
                <div class="col-9">
                    <img [src]="selectedImage || product?.images?.[0]" alt="Selected Product Image"
                        class="w-100 main-image" />
                </div>
            </div>
        </div>
        <!-- ==============Product-details================= -->
        <div class="col">
            <!-- ==============prod-Name==================  -->
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="fontIntegral">{{product?.name}}</h1>
                <i class="fa-solid fa-heart prodHeart" [ngClass]="isFavorite ? 'isFav' : ''"
                    (click)="toggleFavorite()"></i>
            </div>
            <!-- ===============prod-Rate================== -->
            <div class="my-3 fs-4">
                @for (star of [0,1,2,3,4]; track $index) {
                <i class="fa-star" [ngClass]="
                            $index < Math.floor(product?.rate ||0)
                                ? 'fa-solid text-warning'
                                : $index < (product?.rate||0)
                                ? 'fa-regular fa-star-half-stroke text-warning'
                                : 'fa-regular text-secondary'"></i>
                }
                <span class="ms-2 text-secondary">({{ product?.rate }})</span>
            </div>
            <!-- ===============prod-Brand================== -->
            <h3 class="text-muted">Brand: {{brand?.name}}</h3>
            <!-- ===============prod-Price================== -->
            <h2 class="fw-bold mb-3">{{product?.price|currency:"EGP"}}</h2>
            <!-- ===============prod-Description================== -->
            <p class="text-muted fs-4">{{product?.description}}</p>
            <hr class="my-4" />
            <!-- ===============select-prod-Colors================== -->
            <div class="mb-4 prodColors">
                <h5 class="text-muted mb-3">Select Color</h5>
                <div>
                    @for(color of product?.colors; track $index) {
                    <span class="d-inline-block rounded-circle border me-2 position-relative prdColor"
                        [ngStyle]="{'background-color': color}" (click)="selectColor(color)"
                        [class.selected]="color === selectedColor">
                        @if(color===selectedColor) {
                        <i
                            class="fa-solid fa-check text-dark-emphasis shadow position-absolute top-50 start-50 translate-middle">
                        </i>
                        }
                    </span>
                    }
                </div>
            </div>
            <!-- ===============select-prod-Sizes================== -->
            <div class="mb-4 prodSizes">
                <h5 class="text-muted mb-3">Select Size</h5>
                <div class="d-flex gap-3">
                    @for(size of product?.sizes; track $index) {
                    <button class="btn btn-outline-secondary prodSizeBtn" (click)="selectSize(size)"
                        [class.selected]="size === selectedSize">{{size}}
                    </button>
                    }
                </div>
            </div>
            <hr class="my-4" />
            <!-- ===============Add-to-cart================== -->
            <div class="d-flex gap-3 align-items-center">
                <!-- ------prod-quantity------ -->
                <div class="d-flex align-items-center">
                    <h5 class="text-muted me-3">Quantity</h5>
                    <div class="input-group quantity-input" style="width: 120px;">
                        <button class="btn btn-outline-secondary" type="button" (click)="decreaseQuantity()">
                            <i class="fa-solid fa-minus"></i>
                        </button>
                        <input type="text" class="form-control text-center" [value]="quantity" readonly />
                        <button class="btn btn-outline-secondary" type="button" (click)="increaseQuantity()">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </div>

                <!-- ------add to cart button------ -->
                <button class="btn btn-dark btn-lg px-4" (click)="addToCart()"
                    [disabled]="!selectedColor || !selectedSize || product?.stock==0 || quantity===0"
                    [ngStyle]="{'border-radius':'2rem 2rem 1.2rem 1.2rem'}">Add to Cart</button>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-5">
            <h1 class="fontIntegral my-5 text-center ">You might also like</h1>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
                @for (relatedProduct of relatedProducts; track prdID) {
                <div class="col">
                    <app-product-card [product]="relatedProduct"></app-product-card>
                </div>
                }
            </div>
        </div>
    </div>
</div>


<!-- ===============toasters================= -->
<!-- ==========added-to-cart-toast========== -->
<div class="toast-container position-fixed bottom-0  p-3" style="z-index: 1100; bottom:3rem; right: 1rem;">
    <div class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true"
        [ngClass]="{'show': showAddedToast, 'hide': !showAddedToast}">
        <div class="d-flex">
            <div class="toast-body fs-5">
                Product added to cart successfully!
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto fs-5" data-bs-dismiss="toast"
                aria-label="Close" (click)="showAddedToast = false"></button>
        </div>
    </div>
</div>
<!-- ==========added-to-favorites-toast========== -->
<div class="toast-container position-fixed bottom-0  p-3" style="z-index: 1100; top: 7rem; right: 35%;">
    <div class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true"
        [ngClass]="{'show': showAddedToFavoritesToast, 'hide': !showAddedToFavoritesToast}">
        <div class="d-flex">
            <div class="toast-body fs-5">
                Product added to favorites successfully!
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto fs-5" data-bs-dismiss="toast"
                aria-label="Close" (click)="showAddedToFavoritesToast = false"></button>
        </div>
    </div>
</div>
<!-- ==========removed-from-favorites-toast========== -->
<div class="toast-container position-fixed bottom-0  p-3" style="z-index: 1100; top: 7rem; right: 35%;">
    <div class="toast align-items-center text-bg-warning border-0" role="alert" aria-live="assertive" aria-atomic="true"
        [ngClass]="{'show': showRemovedFromFavoritesToast, 'hide': !showRemovedFromFavoritesToast}">
        <div class="d-flex">
            <div class="toast-body fs-5">
                Product removed from favorites successfully!
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto fs-5" data-bs-dismiss="toast"
                aria-label="Close" (click)="showRemovedFromFavoritesToast = false"></button>
        </div>
    </div>
</div>